#head{
    margin:10px;
}
#features{
    margin-top:20px;
}
/* #f-display{
    display: flex;
    justify-content: center;
    align-items: center;
} */
#acc{
    margin-top: 20px;
}
#form-group{
    margin: 10px;
    padding: 20%;

    
}